In [3]:
# Import and unzip the cleaned data you made
import tarfile
fname = 'us-west-1-spot-clean-csv.tar.gz'
tar = tarfile.open(fname, "r:gz")
tar.extractall()
tar.close()

In [4]:
import pandas as pd
usw_spot = pd.read_csv('Users/ty/code/getmoore/data/us-west-1-spot-clean.csv')
c48_full  = usw_spot[ usw_spot['InstanceType'] == 'c4.8xlarge' ]
c48_pricing = c48_full[['Price', 'Timestamp']].copy()

In [5]:
c48_full  = usw_spot[ usw_spot['InstanceType'] == 'c4.8xlarge' ]

In [6]:
c48_pricing = c48_full[['Price', 'Timestamp']].copy()

print c48_pricing['Timestamp'].head()

133    2016-09-21T00:48:48.000Z
134    2016-09-21T00:48:48.000Z
135    2016-09-21T00:48:48.000Z
162    2016-09-21T00:48:20.000Z
163    2016-09-21T00:48:19.000Z
Name: Timestamp, dtype: object

In [7]:
import datetime as datetime
def to_hour(d):
    d = d[:-5].replace('T', ' ')
    d = datetime.datetime.strptime(d, '%Y-%m-%d %H:%M:%S')
    return d.hour

In [8]:
c48_pricing['Price'] = c48_pricing['Price'].astype(float)
c48_pricing['Timestamp'] = c48_pricing['Timestamp'].apply(to_hour)

In [9]:
print c48_pricing.head()
print c48_pricing.dtypes

      Price  Timestamp
133  0.4870          0
134  0.3870          0
135  1.5873          0
162  1.5872          0
163  0.4859          0
Price        float64
Timestamp      int64
dtype: object

In [10]:
byHour = c48_pricing.groupby(['Timestamp']).mean()

In [12]:
byHour

              Price
Timestamp
0          1.087855
1          1.034910
2          1.023435
3          0.994830
4          0.989690
5          1.058765
6          1.024830
7          0.952323
8          0.970701
9          0.982867
10         0.959814
11         0.972749
12         0.997578
13         0.962110
14         1.120123
15         1.015224
16         1.126049
17         1.063642
18         1.102424
19         1.115868
20         1.112795
21         1.141489
22         1.050052
23         1.044834